<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app_title">
      <h1>DreamArt Blog</h1>
    </div>
    

    <main>
      <div class="list">
        <div class="sign_out">
          <% if user_signed_in? %>
            <div>welcome <%= current_user.name %></div>
            <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn" %>
          <% end %>
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
